html{
    font: monospace, monospaced;
    background: #111;
    color: #fff;
}

hr{
    color:#fff;
}
input[type=text], textarea{
    background: #111;
    border: 1px solid white;
    border-radius: 3px;
    color: #fff;
}
.trunkTable{
    width: 100%;
}
.trunkTable th{
    width: 40%;
}
.trunkTable textArea{
    width: 90%;
    min-height: 400px;
    background: #222;
}
.trunkTable th{
    text-align: left;
}
input[readonly], textArea[readonly] {
    color:#ccc;
    font-style: italic;
}
input[readonly] {
	border-color: grey;
}
